

<footer class="footer">
    <div class="footer__container">
        <a href="/about" class="footer__link">About</a>
        <a href="/" class="footer__link">Home</a>
        <a href="#" class="footer__link">Social</a>
        <a href="/services" class="footer__link">Services</a>
    </div>
    <div class="footer__container">
        <p class="foooter__para">&#169; Copyright 2021</p>
    </div>
</footer>
<script src="/js/common.js"></script>
<script src="/js/<%= page %>.js"></script>
</body>
</html>